:root {
    --btn-create: #0067b8;
    --btn-setting: #6f8fc8;
    --size-normal: 16px;
}

html, body {
    margin:0;
}

ol, ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

dd {
    margin: 0;
    padding: 0;
}

body {
    width: 40%;
    margin: var(--size-normal) auto;
}

.place_wrap {
    display: flex;
    overflow: hidden;
    width: 50%;
    border: none;
    border-radius: 4px;
    margin: var(--size-normal) 0;
   
}

.place_wrap a {
    display: block;
    width: 100%;
    min-height: var(--size-normal);
    line-height: var(--size-normal);
    padding: var(--size-normal);
    margin-right: calc(var(--size-normal) / 2);
    border-radius: 4px;
    background-color: var( --btn-create);
    color: white;
}

.place_list_wrap {
    border-top: 2px solid black;
    padding: var(--size-normal) 0;
}

.place_list_wrap h3 {
    font-size: 16px;
    font-weight: 600;
    margin-top: var(--size-normal);
    margin-left: var(--size-normal);
    padding-bottom: var(--size-normal);
}

.place_list_wrap ul li {
    border: 1px solid rgb(117, 113, 113);
    border-bottom: none;
}


.place_list_wrap ul li:last-child {
    border-bottom: 1px solid rgb(117, 113, 113);
}

.place_list_wrap .place_title {
    font-weight: 700;
    color: rgb(37, 0, 247);
    margin: var(--size-normal);
}

.btn_setting {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 var(--size-normal) var(--size-normal);
    padding: 4px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #6f8fc8;
}

.container form {
    margin-top: var(--size-normal);
    padding: var(--size-normal);
    border: 1px solid black;
}

.container form h3 {
    margin: var(--size-normal) 0 ;
}

input {
    display: block;
    border: 1px solid black;
    border-radius: 4px;
    padding: var(--size-normal);
    margin: var(--size-normal) 0 0 0;
}

input:focus {
    outline: none;
}

input[type=submit]{
    display: inline-block;
    border: none;
    color: white;
    background-color: var(--btn-create);
}

input[type=button]{
    display: inline-block;
    border: none;
}

input[type=radio]{
    margin: 0;
    padding: 0;
    display: inline-block;
    border: none;
}

.place_list_wrap > div {
    border: 1px solid black;
    border-bottom: none;
    padding: var(--size-normal);
}

.place_list_wrap > div .btn_setting {
    margin-left: 0;
    margin-bottom: 0;
}

.place_list_wrap > div:last-child {
    border-bottom: 1px solid black;
}

.place_list_wrap .menu_meals ul li, 
.place_list_wrap .menu_dessert ul li {
    border: none;
    border-bottom: 1px solid grey;
    padding-bottom: 16px;
}

.place_list_wrap .menu_meals ul li:last-child,
.place_list_wrap .menu_dessert ul li:last-child {
    border-bottom: none;
}

.place_list_wrap .menu_meals h2 {
    color: cornflowerblue;
}

.place_list_wrap .menu_meals .menu_title {
    color: rgb(23, 6, 65);
}

.place_list_wrap .menu_dessert h2 {
    color: chocolate;
}

.place_list_wrap .menu_dessert .menu_title {
    color:black;
}

.container .menu_type p {
    display: block;
    margin: 0;
    margin-top: var(--size-normal);
    margin-bottom: calc(var(--size-normal) / 2);
}

.container .menu_type dd {
    margin-bottom: calc(var(--size-normal) / 2);
}

footer {
    border-top: 2px solid black;
    margin-top: var(--size-normal);
    padding-top: var(--size-normal);
}

footer a {
    display: inline-block;
    padding: 4px 4px;
    border: 1px solid black;
}

footer a::before {
    content: '<';
}