{% set place_title = "메뉴 변경" %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{item.name}} {{place_title}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<div class='container'>
    <h1>"{{item.name}}" {{place_title}}</h1>
    <form action="#" method = 'post'>
        <p>이름</p>
		<input type ='text' size='30' name='name' placeholder = '{{item.name }}'>

        <p>설명</p>
		<input type ='text' size='30' name='description' placeholder = '{{item.description }}'>

        <p>가격</p>
		<input type ='text' size='30' name='price' placeholder = '{{item.price }}'>

        <div class="menu_type">
            <p>타입</p>
            {% if item.package_item == '정식' %}
            <dd><input type ='radio' name='package_item' value='정식'checked >정식</dd>
            {%else%}
            <dd><input type ='radio' name='package_item' value='정식' >정식</dd>
            {% endif %}

            {% if item.package_item == '디저트' %}
            <dd><input type ='radio' name='package_item' value='디저트'checked >디저트</dd>
            {%else%}
            <dd><input type ='radio' name='package_item' value='디저트' >디저트</dd>
            {% endif %}
        </div>

        <input type='submit' value='변경하기'>
        <input class="btn_cancel" type='button' onclick="document.location.href='{{url_for('showMenu', store_id=item.store_id)}}';" value='취소하기'>
    </form>
</div>

</body>
</html>